@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700&display=swap');

:root {
    /* colors */
    --bs-background           : #040404;
    --bs-green                : #18d26e;
    --bs-teal                 : #20c997;
    --bs-black                : #000;
    --bs-white                : #fff;
    --bs-gray                 : #6c757d;
    --bs-gray-dark            : #343a40;
    --bs-dark                 : #212529;
    --bs-primary-text-emphasis: #052c65;
    --bs-white-rgb            : 255, 255, 255;
    --bs-black-rgb            : 0, 0, 0;
    --bs-body-color           : #212529;
    --bs-body-bg              : #fff;

    /* transition */
    --bs-transition: 0.3s ease-out;

    /* font family */
    --bs-body-font-size  : 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-primary-font    : 'Poppins', sans-serif;
    --bs-secont-font     : 'Raleway', sans-serif;

    /* breaking points */
    --bs-breakpoint-sm : 576px;
    --bs-breakpoint-md : 768px;
    --bs-breakpoint-lg : 992px;
    --bs-breakpoint-xl : 1200px;
    --bs-breakpoint-xxl: 1400px;
}